*{
    text-decoration: none;
}
   .navbar{
    background-color: #4CAF50;
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
}
   .navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
   .logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
}
    ul{
    position: absolute;
    right: 25px;
}
    li{
    list-style: none;
    display: inline-block;
}
    li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 35px;
}
    .signbutton{
    background-color: black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px;
    width: 90px;
}
    button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.main {
    background-color: #fff;
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

h1 {
    color: #4CAF50;
}

loginlabel {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}
.rm {
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

label[for="rm"] {
    display: inline-block;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submitbutton {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
#mySidenav a {
  position: absolute;
  left: -80px; /* Позиционировать за пределами экрана */
  transition: 0.3s; /* Добавить переход при наведении */
  padding: 15px;
  width: 100px; /* Установить определённую ширину */
  text-decoration: none; /* Удалить подчёркивание */
  font-size: 20px; /* Увеличить размер шрифта */
  color: black; /* Черный цвет текста */
  border-radius: 0 5px 5px 0; /* Округлые углы на правой верхней и нижней правой стороне */
}
#mySidenav a:hover {
  left: 0; /* При наведении мыши делать элементы видимыми правильно */
}

