<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <title>PetHunter</title>
    {{header|safe}}
</head>
<body>
    <header>
      <nav class="navbar">
        <div class="navdiv">
          <div class="logo"><a href="#">PetHunter</a> </div>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contacts</a></li>
            {% if current_user.is_authenticated %}
              <p>{{ current_user.username }}!</p>
              <p><a href="{{ url_for('logout') }}">Выйти</a></p>
            {% else %}
                <button class="signbutton"><a href="/login">Sign In</a></button>
                <button class="signbutton"><a href="/register">Sign Up</a></button>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
<div>
    {% for ann in anns %}
    <div class="main">
        <img src="static/photo_2024-12-14_13-26-26.jpg" width="150" height=auto>
        <p> Type: {{ ann["type"] }} </p>
        <p> Nickname: {{ ann["nickname"] }} </p>
        <p> Breed: {{ ann["breed"] }} </p>
        <p> Gender: {{ ann["gender"] }} </p>
        <p> Differences: {{ ann["differences"] }} </p>
        <button class="submitbutton"> Open Map </button>
    </div>
    {% endfor %}
    <button class="submitbutton"><a href="/add">Добавить объявление</a></button>

</div>
</body>
</html>
