<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <title>PetHunter</title>
    <style>
    </style>
</head>
<body>
    <header>
      <nav class="navbar">
        <div class="navdiv">
          <div class="logo"><a href="#">PetHunter</a> </div>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contacts</a></li>
          </ul>
        </div>
      </nav>
    </header>
      <div class="main">
          <h1>PetHunter</h1>

          <form action="{{ url_for('login') }}" method="POST">
              <label for="log" class="loginlabel">
                  Username:
              </label>
              <input type="text" id="log" name="log"
                  placeholder="Enter your Username" required>

              <label for="pas" class="loginlabel">
                  Password:
              </label>
              <input type="password" id="pas" name="pas"
                  placeholder="Enter your Password" required>

              <input type="checkbox" class="rm" id="rm">
              <label for="rm">Remember me</label>

              <div class="wrap">
                  <button type="submit" class="submitbutton">Submit</button>
              </div>
          </form>

          <p>Not registered?
              <a href="/register" style="text-decoration: none;">
                  Create an account
              </a>
          </p>
      </div>
</body>
</html>