<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <title>PetHunter</title>
</head>
<body>
    <header>
      <nav class="navbar">
        <div class="navdiv">
          <div class="logo"><a href="#">PetHunter</a> </div>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contacts</a></li>
            <button class="signbutton"><a href="/login">Sign In</a></button>
            <button class="signbutton"><a href="/register">Sign Up</a></button>
          </ul>
        </div>
      </nav>
    </header>
    <table>
        <tr>
            <th>Картинка</th>
            <th>Кличка</th>
            <th>Описание</th>
        </tr>
        <tr>
            <td><img src="static/photo_2024-12-14_13-26-26.jpg" width="150" height=auto alt="pup"></td>
            <td>Купер</td>
            <td>Сексопилен и ахуителен</td>
        </tr>
        <tr>
            <td>Анна</td>
            <td>30</td>
            <td>Санкт-Петербург</td>
        </tr>
        <tr>
            <td>Петр</td>
            <td>22</td>
            <td>Екатеринбург</td>
        </tr>
    </table>
</body>
</html>
